.background{
     background-image: url(/gambarpemanis/regal.png);;
}
.background1{
     background-image: url(/gambarpemanis/aa.png);;
}
.tinggi{
     margin-top: 50px;
}

html{
     position: relative;
     min-height: 90%;
}
body{
     margin-bottom: 70px;
     /* background-color: rgba(0,0,0,.075); */
}
h2 {
     border-bottom: 1px solid #000;
}
#footer{
     position: absolute;
     bottom: 0;
     width: 100%;
     height: 50px;
     padding-top: 20px;

}

.has-error .checkbox,.has-error .checkbox-inline,.has-error .control-label,.has-error .help-block,.has-error .radio,.has-error .radio-inline,.has-error.checkbox label,.has-error.checkbox-inline label,.has-error.radio label,.has-error.radio-inline label{color:#a94442}.has-error .form-control{border-color:#a94442;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075)}.has-error .form-control:focus{border-color:#843534;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483}.has-error .input-group-addon{color:#a94442;background-color:#f2dede;border-color:#a94442}.has-error .form-control-feedback{color:#a94442}